﻿@model IEnumerable<ProjektASP.Models.ApplicationUser>
@using ProjektASP.Helpers;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Ban";
}

@using (Html.BeginForm("Ban", "Ban", "Users"))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Nazwa użytkownika: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users)
    </p>

                <input type="submit" value="Zbanuj uzytkownika" class="btn btn-default" />
}