﻿@model IEnumerable<ProjektASP.Models.StudentModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">Imię</th>
            <th class="text-center">Nazwisko</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="row text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="row text-center">
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
        }
    </tbody>
</table>
