﻿@model IEnumerable<ProjektASP.Models.StudentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if ((Request.IsAuthenticated && User.IsInRole("Administrator")) || (Request.IsAuthenticated && User.IsInRole("Nauczyciel")))
{
    @Html.ActionLink("Create New", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoom.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassRoom.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @if ((Request.IsAuthenticated && User.IsInRole("Administrator")) || (Request.IsAuthenticated && User.IsInRole("Nauczyciel")))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) 
                @Html.ActionLink("Details", "Details", new { id=item.StudentID }) 
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
            }
        </td>
    </tr>
}

</table>
