﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}
<div class="page-header">
    <h1>REST API Uczniowie</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Uczniowie</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: students">
                    <li>
                        <strong><span data-bind="text: ClassRoomName"></span></strong>: <span data-bind="text: Name"></span> : <span data-bind="text: Surname"></span>
                        <!-- New code -->
                        <small><a href="#" data-bind="click: $parent.getStudentDetail">Szczegóły</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    <!-- ko if:detail() -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Szczegóły</h2>
            </div>
            <table class="table">
                <tr><td>Klasa</td><td data-bind="text: detail().ClassRoomName"></td></tr>
                <tr><td>ID</td><td data-bind="text: detail().StudentID"></td></tr>
                <tr><td>Imię</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Nazwisko</td><td data-bind="text: detail().Surname"></td></tr>
                <tr><td>Adres</td><td data-bind="text: detail().Adress"></td></tr>
                <tr><td>Numer telefonu</td><td data-bind="text: detail().PhoneNumber"></td></tr>
                <tr><td>Wiek</td><td data-bind="text: detail().Age"></td></tr>
                <tr><td>Płeć</td><td data-bind="text: detail().Gender"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Dodaj studenta</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addStudent">
                    <div class="form-group">
                        <label for="inputClassRoom" class="col-sm-2 control-label">Klasa</label>
                        <div class="col-sm-10">
                            <select data-bind="options:classRooms, optionsText: 'Name', value: newStudent.ClassRoom"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newStudent">

                        <label for="inputName" class="col-sm-2 control-label">Imię</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" placeholder="Imię" />
                        </div>

                        <label for="inputSurname" class="col-sm-2 control-label">Nazwisko</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSurname" data-bind="value:Surname" placeholder="Nazwisko" />
                        </div>

                        <label for="inputAdress" class="col-sm-2 control-label">Adres</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAdress" data-bind="value:Adress" placeholder="Adres" />
                        </div>

                        <label for="inputAge" class="col-sm-2 control-label">Wiek</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputAge" data-bind="value:Age" placeholder="Wiek" />
                        </div>

                        <label for="inputGender" class="col-sm-2 control-label">Płeć</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputGender" data-bind="value:Gender" placeholder="Płeć" />
                        </div>

                        <label for="inputPhoneNumber" class="col-sm-2 control-label">Numer telefonu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhoneNumber" data-bind="value:PhoneNumber" placeholder="Numer telefonu" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

