﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Starogard Piekło 36<br />
    <abbr title="Phone">Telefon:</abbr> 666 666 666
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:temisuki@gmail.com">temisuki@gmail.com</a>
</address>