﻿@model PagedList.IPagedList<ProjektASP.Models.MessModel>
@using PagedList.Mvc;
@using ProjektASP.Helpers;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @LabelHelper.CustomLabel(@Html.DisplayFor(modelItem => item.Topic))
        </td>
        <br />
        <td>
            @Html.DisplayFor(modelItem => item.Mess)
        </td>
    </tr>
    <br />
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))