﻿@model ProjektASP.Models.MessModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MessModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mess)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
