﻿@model ProjektASP.Models.Mark

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
