﻿@model IEnumerable<ProjektASP.Models.Mark>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if ((Request.IsAuthenticated && User.IsInRole("Administrator")) || (Request.IsAuthenticated && User.IsInRole("Nauczyciel")))
{
    @Html.ActionLink("Create New", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkNum)
        </td>
        <td>
            @if ((Request.IsAuthenticated && User.IsInRole("Administrator")) || (Request.IsAuthenticated && User.IsInRole("Nauczyciel")))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.MarkID }) 
                @Html.ActionLink("Details", "Details", new { id = item.MarkID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.MarkID })
            }
        </td>
    </tr>
}

</table>
